{% extends 'base.html.twig' %}

{% block body %}
    <table border="1" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Akcja</th>
        </tr>
        {% for v in date %}
            <tr style="text-align: center">
                <td>{{ v.id }}</td>
                <td>{{ v.nazwaTemat }}</td>
                <td>{{ v.tresc }}</td>
                <td>
                    <a href="{{ path('update_kategoria', {id:v.id}) }}"><button type="button">Update</button></a>
                    <a href="{{ path('delete_kategoria', {id:v.id}) }}"> <button type="button">Delete</button></a>
                </td>
            </tr>

            id: {{ v.id }}
        {% endfor %}
    </table>

    <a href="{{ path('add_topic') }}"><button type="button">Add</button></a>
{% endblock %}
